@use "../../../styles/mixins/breakpoints.scss" as bp;

.start-section {
  background-color: var(--default-dark);

  &__container {
    height: auto;
    padding-bottom: 20px;
    padding-top: 100px;

    background-image: url("../assets/images/first-section-background.jpg");
    background-repeat: no-repeat;
    background-position: -630px 0px;
    background-size: 2060px;
    
    @include bp.mobile-s {
      height: 540px;
      padding-bottom: 0px;
    }

    @include bp.tablet {
      height: 904px - 240px;
      padding-top: 240px;
      background-position: -900px 0px;
      background-size: 2900px;
    }
    
    @include bp.laptop {
      height: 800px - 240px;
      background-position: -560px 0px;
      background-size: 2560px;
    }

    @include bp.laptop-l {
      box-shadow: inset 0px 0px 100px 30px  var(--default-dark);
    }
  }

  &__title {
    margin-bottom: 40px;

    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    color: var(--white);

    @include bp.tablet {
      margin-bottom: 105px;
      width: 399px;

      font-size: 56px;
      line-height: 56px;
    }

    @include bp.laptop {
      line-height: 60px;
      width: 405px;
    }
  }
}
