.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  &__container {
    height: 100px;
    max-width: 1356px;  // minus paddings
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 768px) {
      padding-left: 42px;
      padding-right: 42px;
    }
  }

  &__inner {
    height: 80px; //40px
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 768px) {
      width: 425px;
    }

    @media (min-width: 1024px) {
      width: 750px;
    }
  }

  &__logo {
    width: 140px;
    height: 32px;
    fill: var(--white);
  }
}






