.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  &--default {
    background-color: #3fb4ed;
  }

  &__container {
    height: 100px;
    max-width: 1356px;  // minus paddings
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 768px) {
      padding-left: 42px;
      padding-right: 42px;
    }

    &--default {
      background-image: url("~/src/modules/Header/assets/images/first-section-background.png");
      background-repeat: no-repeat;
      background-position: -200px 0px;
      background-size: 1135px;

      @media (min-width: 768px) {
        background-position: -182px 0px;
        background-size: 1447px;
      }

      @media (min-width: 1024px) {
        background-position: 0px 0px;
      }
      @media (min-width: 1440px) {
        box-shadow: inset 92px 0px 0px 0px #3fb4ed;
      }
    }
  }

  &__inner {
    height: 80px; //40px
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 768px) {
      width: 425px;
    }

    @media (min-width: 1024px) {
      width: 750px;
    }
  }

  &__logo {
    width: 140px;
    height: 32px;
    fill: #ffffff;
  }
}






