.weather {
  display: none;

  &--light {
    color: var(--white);
  }

  &--dark {
    color: var(--default-dark);
  }

  @media (min-width: 768px) {
    width: 150px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    &__icon {
      width: 37px;
      height: 37px;

      &--light {
        fill: var(--white);
      }

      &--dark {
        fill: var(--default-dark);
      }
    }
  }
}