@use "../../../../styles/mixins/breakpoints.scss" as bp;
@use "../../../../styles/utils/variables.scss" as var;

.header {
  &__menu {
    display: none;
  
    @include bp.laptop {
      display: block;
    }
  
    &-list {
      width: 300px;
  
      display: flex;
      justify-content: center;
      gap: 40px;
    }
  
    &-link {
      color: var.$white;

      &--light {
        color: var.$white;
        &:hover {
          border-bottom: 2px solid var.$white;
        }
      }
    
      &--dark {
        color: var.$default-dark;
        &:hover {
          border-bottom: 2px solid var.$default-dark;
        }
      }

      &--active {
        font-weight: bold;

        &:hover {
          border-bottom: none;
          cursor: default;
        }
      }
    }
  }
}