.header {
  &__menu {
    display: none;
  
    @media (min-width: 1024px) {
      display: block;
    }
  
    &-list {
      width: 300px;
  
      display: flex;
      justify-content: center;
      gap: 40px;
    }
  
    &-link {
      color: var(--white);
  
      &:hover {
        border-bottom: 2px solid var(--white);
      }

      &--active {
        font-weight: bold;

        &:hover {
          border-bottom: none;
          cursor: default;
        }
      }
    }
  }
}