@use "../../../../styles/mixins/breakpoints.scss" as bp;

.search-form {
  &__select-section {
    &-inner {
      width: 100%;
  
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      @include bp.tablet {
        padding: 0px 20px;
      }
    }
  
    &-label {
      display: block;
    }
  }

  &__pin {
    width: 10px;
    height: 7px;
  }
}