.header {
  &__user-info {
    display: none;
    cursor: pointer;
    @media (min-width: 768px) {
      width: 172px;

      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--white);
    }
  }

  &__user-avatar {
    border-radius: 50%;
  }

  &__user-name {
    &--light {
      color: var(--white);
    }
  
    &--dark {
      color: var(--default-dark);
    }
  }
}
