@use "../../styles/utils/variables.scss" as var;

.default-button {
  display: block;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;

  &--dark {
    background: var.$default-dark;
    background: linear-gradient(40deg, var.$default-dark 0%, var.$btn-gradient 100%);

    border: none;
    color: var.$white;
  }

  &--light {
    background: transparent;
    border: 2px solid var.$default-light;
    color: var.$default-light;
  }
}