@use "../../../../styles/mixins/breakpoints.scss" as bp;

.search {
  &__services-list {
    width: 75%;
    margin: 0 auto 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    column-gap: 20px;
    row-gap: 10px;

    @include bp.tablet {
      width: 100%;
      margin: 0px 0px 30px;

      flex-wrap: nowrap;
      justify-content: flex-start;
    }

    @include bp.laptop-l {
      column-gap: 5px;
    }
  }

  &__service-item {
    @include bp.laptop {
      &:nth-child(1) .search__service-btn {
        width: 45px;
      }
      &:nth-child(2) .search__service-btn {
        width: 93px;
      }
      &:nth-child(3) .search__service-btn {
        width: 95px;
      }
      &:nth-child(4) .search__service-btn {
        width: 95px;
      }
      &:nth-child(5) .search__service-btn {
        width: 109px;
      }
      &:nth-child(6) .search__service-btn {
        width: 76px;
      }
      &:nth-child(7) .search__service-btn {
        width: 75px;
      }
    }
  }

  &__service-btn {
    background: transparent;

    font-size: 16px;
    line-height: 16px;
    color: var(--white);

    @include bp.laptop {
      height: 27px;

      background: var(--white);
      color: var(--grey);
      border-radius: 100px;
    }

    &:hover {
      font-weight: bold;
    }

    &--active {
      font-weight: bold;

      @include bp.laptop {
        color: var(--default-dark);
      }
    }
  }
}
